<div class="container">
  <div class="header_wrapper">
    <header>
      <div class="header_logo"><img src="../assets/logo.png" alt="Voverc logo"></div>
      <div class="header_contacts">
        <a class="phone" href="tel:778-383-8486">778-383-8486</a>
        <a class="chat" href="#"><img src="../assets/chat_icon.png" alt="chat icon">Sales Chat</a>
      </div>
    </header>
  </div>
  <div class="main_wrapper">
    <main>
      <nav class="menu_list">
        <ul>
          <li><a href="#"><img src="../assets/menu1.png" alt="logo1">Choose number</a></li>
          <li><a href="#"><img src="../assets/menu2.png" alt="logo2">Choose plan</a></li>
          <li><a href="#"><img src="../assets/menu3.png" alt="logo3">Add users</a></li>
          <li><a href="#"><img src="../assets/menu4.png" alt="logo4">Checkout</a></li>
        </ul>
      </nav>
    </main>
  </div>

  <footer></footer>
</div>

