<div class="container">
  <div class="header_wrapper">
    <header>
      <div class="header_logo"><img src="../assets/logo.png" alt="Voverc logo"></div>
      <div class="header_contacts">
        <a class="phone" href="tel:778-383-8486">778-383-8486</a>
        <a class="chat" href="#"><img src="../assets/chat_icon.png" alt="chat icon">Sales Chat</a>
      </div>
    </header>
  </div>
  <main class="main">
    <div class="main_wrapper">
      <nav class="menu_list">
        <ul>
          <li><a href="#"><img src="../assets/menu1.png" alt="logo1">Choose number</a></li>
          <li><a href="#"><img src="../assets/menu2.png" alt="logo2">Choose plan</a></li>
          <li><a href="#"><img src="../assets/menu3.png" alt="logo3">Add users</a></li>
          <li><a href="#"><img src="../assets/menu4.png" alt="logo4">Checkout</a></li>
        </ul>
      </nav>
      <div class="main_title">
        <h1>Select a plan for your trial</h1>
        <a class="image_container" href="#">
          <img src="../assets/info_icon.png" alt="info">
        </a>
      </div>
      <div class="plans">
        <div class="plan">
          <h3 class="plan_title">Essentials&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Up to 10 users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">100 toll-free min/mo</li>
              <li class="advantage">4 people per video meeting</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span>$ 29.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio"></div>
            <a href="#">Select this plan</a>
          </div>
        </div>
        <div class="plan">
          <h3 class="plan_title">Standard&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Unlimited users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">1000 toll-free min/mo</li>
              <li class="advantage">4 people per video meeting</li>
              <li class="advantage">Unlimited internet fax</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span>$ 34.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio"></div>
            <a href="#">Select this plan</a>
          </div>
        </div>
        <div class="popular">Most popular</div>
        <div class="plan">
          <h3 class="plan_title">Premium&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Unlimited users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">1500 toll-free min/mo</li>
              <li class="advantage">50 people per video meeting</li>
              <li class="advantage">Unlimited internet fax</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span>$ 44.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio">
              <div class="selected"></div>
            </div>
            <button class="continue">Continue</button>
          </div>
        </div>
        <div class="plan">
          <h3 class="plan_title">Ultimate&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Unlimited users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">2500 toll-free min/mo</li>
              <li class="advantage">75 people per video meeting</li>
              <li class="advantage">Unlimited internet fax</li>
              <li class="advantage">Automatic call recording</li>
              <li class="advantage">Voicemail-to-text</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span> $ 59.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio"></div>
            <a href="#">Select this plan</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="possibilities">
    <div class="possibilities_wrapper">
      <h2 class="possibilities_title">A complete phone system</h2>
      <hr>
      <div class="possibilities_columns">
        <div class="possibilities_column">
          <ul>
            <li class="possibilities_column__item"><img src="../assets/icon1.png" alt=""><a href="#">Cloud PBX</a></li>
            <li class="possibilities_column__item">Toll-free minutes per month per account</li>
            <li class="possibilities_column__item">Unlimited internet fax</li>
            <li class="possibilities_column__item">Global Office&trade;</li>
            <li class="possibilities_column__item">Toll-free, local, vanity, or international numbers for voice and fax</li>
            <li class="possibilities_column__item">Auto attendant and dial-by-name directory</li>
            <li class="possibilities_column__item">RingCentral for iOS<span class="copy">&copy;</span>, Android<span class="trade">&trade;</span>,
              Mac<span
                class="copy">&copy;</span>, and Windows<span class="copy">&copy;</span></li>
          </ul>
        </div>
        <div class="possibilities_column">
          <ul>
            <li class="possibilities_column__item">Cloud PBX</li>
            <li class="possibilities_column__item">Toll-free minutes per month per account</li>
            <li class="possibilities_column__item">Unlimited internet fax</li>
            <li class="possibilities_column__item">Global Office&trade;</li>
            <li class="possibilities_column__item">Toll-free, local, vanity, or international numbers for voice and fax</li>
            <li class="possibilities_column__item">Auto attendant and dial-by-name directory</li>
            <li class="possibilities_column__item">RingCentral for iOS<span class="copy">&copy;</span>, Android<span class="trade">&trade;</span>,
              Mac<span
                class="copy">&copy;</span>, and Windows<span class="copy">&copy;</span></li>
          </ul>
        </div>
        <div class="possibilities_column">
          <ul>
            <li class="possibilities_column__item">Cloud PBX</li>
            <li class="possibilities_column__item">Toll-free minutes per month per account</li>
            <li class="possibilities_column__item">Unlimited internet fax</li>
            <li class="possibilities_column__item">Global Office&trade;</li>
            <li class="possibilities_column__item">Toll-free, local, vanity, or international numbers for voice and fax</li>
            <li class="possibilities_column__item">Auto attendant and dial-by-name directory</li>
            <li class="possibilities_column__item">RingCentral for iOS<span class="copy">&copy;</span>, Android<span class="trade">&trade;</span>,
              Mac<span
                class="copy">&copy;</span>, and Windows<span class="copy">&copy;</span></li>
          </ul>
        </div>
      </div>
      <div>You get everything you need. It's really that convenient</div>
    </div>
  </div>
  <footer></footer>
</div>

