<div class="container">
  <div class="header_wrapper">
    <header>
      <div class="header_logo"><img src="../assets/logo.png" alt="Voverc logo"></div>
      <div class="header_contacts">
        <a class="phone" href="tel:778-383-8486">778-383-8486</a>
        <a class="chat" href="#"><img src="../assets/chat_icon.png" alt="chat icon">Sales Chat</a>
      </div>
    </header>
  </div>
  <main class="main">
    <div class="main_wrapper">
      <nav class="menu_list">
        <ul>
          <li><a href="#"><img src="../assets/menu1.png" alt="logo1">Choose number</a></li>
          <li><a href="#"><img src="../assets/menu2.png" alt="logo2">Choose plan</a></li>
          <li><a href="#"><img src="../assets/menu3.png" alt="logo3">Add users</a></li>
          <li><a href="#"><img src="../assets/menu4.png" alt="logo4">Checkout</a></li>
        </ul>
      </nav>
      <div class="main_title">
        <h1>Select a plan for your trial</h1>
        <a class="image_container" href="#">
          <img src="../assets/info_icon.png" alt="info">
        </a>
      </div>
      <div class="plans">
        <div class="plan">
          <h3 class="plan_title">Essentials&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Up to 10 users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">100 toll-free min/mo</li>
              <li class="advantage">4 people per video meeting</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span>$ 29.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio"></div>
            <a href="#">Select this plan</a>
          </div>
        </div>
        <div class="plan">
          <h3 class="plan_title">Standard&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Unlimited users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">1000 toll-free min/mo</li>
              <li class="advantage">4 people per video meeting</li>
              <li class="advantage">Unlimited internet fax</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span>$ 34.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio"></div>
            <a href="#">Select this plan</a>
          </div>
        </div>
        <div class="popular">Most popular</div>
        <div class="plan">
          <h3 class="plan_title">Premium&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Unlimited users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">1500 toll-free min/mo</li>
              <li class="advantage">50 people per video meeting</li>
              <li class="advantage">Unlimited internet fax</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span>$ 44.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio">
              <div class="selected"></div>
            </div>
            <button class="continue">Continue</button>
          </div>
        </div>
        <div class="plan">
          <h3 class="plan_title">Ultimate&trade;</h3>
          <hr>
          <div class="advantages">
            <ul>
              <li class="advantage">Unlimited users</li>
              <li class="advantage">Toll-free or local number</li>
              <li class="advantage">2500 toll-free min/mo</li>
              <li class="advantage">75 people per video meeting</li>
              <li class="advantage">Unlimited internet fax</li>
              <li class="advantage">Automatic call recording</li>
              <li class="advantage">Voicemail-to-text</li>
            </ul>
          </div>
          <hr>
          <div class="price">
            <p class="price_title">Price after the trial</p>
            <p class="amount">from<span> $ 59.99 </span>/user/month</p>
          </div>
          <hr>
          <div class="selector">
            <div class="selector_radio"></div>
            <a href="#">Select this plan</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="possibilities">
    <div class="possibilities_wrapper">
      <h2 class="possibilities_title">A complete phone system</h2>
      <hr>
      <div class="possibilities_columns">
        <div class="possibilities_column">
          <ul>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon1.png" alt="icon">
              </div>
              Cloud PBX
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon2.png" alt="icon">
              </div>
              Toll-free minutes per month per account
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon3.png" alt="icon">
              </div>
              Unlimited internet fax
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon4.png" alt="icon">
              </div>
              Global Office&trade;
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon5.png" alt="icon">
              </div>
              Toll-free, local, vanity, or international numbers
              for voice and fax
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon6.png" alt="icon">
              </div>
              Auto attendant and dial-by-name directory
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon7.png" alt="icon">
              </div>
              RingCentral for iOS&copy;, Android&trade;, Mac&copy;, and
              Windows&copy;
            </li>
          </ul>
        </div>
        <div class="possibilities_column">
          <ul>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon8.png" alt="icon">
              </div>
              Audio conferencing
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon9.png" alt="icon">
              </div>
              Online meetings
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon10.png" alt="icon">
              </div>
              Team collaboration
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon11.png" alt="icon">
              </div>
              Intercom
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon12.png" alt="icon">
              </div>
              Shared lines
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon13.png" alt="icon">
              </div>
              Call Park
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon14.png" alt="icon">
              </div>
              Call queues
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon15.png" alt="icon">
              </div>
              Paging
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon16.png" alt="icon">
              </div>
              Advanced call forwarding
            </li>
          </ul>
        </div>
        <div class="possibilities_column">
          <ul>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon17.png" alt="icon">
              </div>
              Flexible answering rules
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon18.png" alt="icon">
              </div>
              Presence based on multiple devices
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon19.png" alt="icon">
              </div>
              Call log reports
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon20.png" alt="icon">
              </div>
              Templates for batch configurations
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon21.png" alt="icon">
              </div>
              Keep your existing phone numbers
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon22.png" alt="icon">
              </div>
              FREE 24/7 customer support
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon23.png" alt="icon">
              </div>
              No set up or activation fees
            </li>
            <li class="possibilities_column__item">
              <div class="icon_container">
                <img src="../assets/icon24.png" alt="icon">
              </div>
              Implementation advisors, FREE when you
              sign up for two more users
            </li>
          </ul>
        </div>
      </div>
      <div class="resume">You get everything you need. It's really that convenient</div>
    </div>
  </div>
  <footer class="footer">
    <a href="#">Legal</a>
  </footer>
</div>

